$-if(tags)$
<div>Tags: $for(tags)$<a title="All pages tagged '$tag$'." href="/$lowerTag$.html" rel="tag">$tag$</a>$sep$, $endfor$.</div>
$-endif$
$-if(doi)$
<div>DOI: <a href="https://doi.org/$doi$">$doi$</a>.</div>
$-endif$

$parsed$

<p>
  <a href="/talks/slides/$name$.html">Slides</a>
  $-if(url)$ <a href="$url$">URL</a>$endif$
  <a href="/talks/$name$.bib">BibTeX</a>
</p>
$-if(video)$

<iframe src="$video$" frameborder="0" sandbox="allow-same-origin allow-scripts" allowfullscreen="allowfullscreen"></iframe>
$-endif$
$-if(abstract)$

$abstract$
$-endif$
